/* Container styling */
.bruform-container {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.bruform-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Form wrapper */
.bruform-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form styling */
.bruform-form {
    width: 100%;
    max-width: 700px;
}

/* Input group */
.bruform-input-group {
    margin-bottom: 15px;
}

.bruform-input {
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
}

.bruform-select {
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
}

.bruform-input:focus {
    outline: none;
    background-color: #FFA6F6;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

/* Custom input file */
.bruform-input-file-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.bruform-input-file {
    display: none; /* Sembunyikan input file default */
}

.bruform-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    border: 3px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
}

/* Ikon atau teks dalam label */
.bruform-icon {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Submit button styling */
.bruform-submit {
    width: 100%;
    padding: 10px;
    background-color: #c8e1ff;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
}

.bruform-submit:hover {
    background-color: #FFA6F6;
    color: black;
}

.brumodal {
    border: 4px solid black;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow:5px 4px 0px rgba(0, 0, 0, 1);
    background-color: #c8ffd6;
}
